*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto Slab';
}
body{
    font-size: 100%;
    list-style-type: none;
    background-color: black;
    color: white;
}

#contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}